<%= turbo_frame_tag quote do %>
  <div class="row mt-1">
    <div class="col d-inline-block text-truncate">
      <%= link_to quote.name, 
        quote_path(quote),
        class: "btn btn-outline",
        data: { turbo_frame: "_top" }
      %>
    </div>
    <div class="col-auto">
      <%= button_to quote_path(quote),
        method: :delete,
        class: "btn btn-light" do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
    <div class="col-auto">
      <%= link_to edit_quote_path(quote),
        class: "btn btn-light" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
    </div>
  </div>
<% end %>