<main class="container">

  <div class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-10 col-xl-6">
      <div class="header text-center">
        <h1>Quote</div>
      </div>

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <%= @quote.name %>
          </h3>
          <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-xl-2">
    </div>
  </div>
  
</main>