<main class="container">
  <div class="row">
    <div class="col-12 col-xl-6">
      <div class="header">
        <h1>Quote</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <%= @quote.name %>
          </h3>
          <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  
</main>