<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Quote editor</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A blazing fast quote editor built with Hotwire</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <% if user_signed_in? %>
          <%= link_to "View quotes", quotes_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
          <%= button_to "Sign out", destroy_user_session_path, method: "delete", class: "btn btn-outline-secondary btn-lg px-4" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
          <%= link_to "Home", root_path, class: "btn btn-outline-secondary btn-lg px-4" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
 